body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0; 
}

.grid{
    display: grid;
    width:500px;
    height:500px;
    background-color: #ffffff;
}
.cell{
    border: 1px solid black;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    height: 10vh;
}

button{
    padding: 20px;
    margin: 25px;
}
